{% if site.footer-links.dribbble %}
  <li><a href="https://dribbble.com/{{ site.footer-links.dribbble }}" class="fa-dribbble"><span class="label">Dribbble</span></a></li>
{% endif %}

{% if site.footer-links.email %}
  <li><a href="mailto:{{ site.footer-links.email }}" class="fa-email"><span class="label">Email</span></a></li>
{% endif %}

{% if site.footer-links.facebook %}
  <li><a href="https://www.facebook.com/{{ site.footer-links.facebook }}" class="fa-facebook"><span class="label">Facebook</span></a></li>
{% endif %}

{% if site.footer-links.flickr %}
  <li><a href="https://www.flickr.com/{{ site.footer-links.flickr }}" class="fa-flickr"><span class="label">flickr</span></a></li>
{% endif %}

{% if site.footer-links.github %}
  <li><a href="https://www.github.com/{{ site.footer-links.github }}" class="fa-github"><span class="label">github</span></a></li>
{% endif %}

{% if site.footer-links.instagram %}
  <li><a href="https://www.instagram.com/{{ site.footer-links.instagram }}" class="fa-instagram"><span class="label">instagram</span></a></li>
{% endif %}

{% if site.footer-links.linkedin %}
  <li><a href="https://www.linkedin.com/{{ site.footer-links.linkedin }}" class="fa-linkedin"><span class="label">linkedin</span></a></li>
{% endif %}

{% if site.footer-links.pinterest %}
  <li><a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}" class="fa-pinterest"><span class="label">pinterest</span></a></li>
{% endif %}

{% if site.footer-links.rss %}
  <li><a href="{{ site.baseurl }}/feed.xml" class="fa-rss"><span class="label">rss</span></a></li>
{% endif %}

{% if site.footer-links.twitter %}
  <li><a href="https://www.twitter.com/{{ site.footer-links.twitter }}" class="fa-twitter"><span class="label">twitter</span></a></li>
{% endif %}

{% if site.footer-links.stackoverflow %}
  <li><a href="https://www.stackoverflow.com/{{ site.footer-links.stackoverflow }}" class="fa-stackoverflow"><span class="label">stackoverflow</span></a></li>
{% endif %}

{% if site.footer-links.youtube %}
  <li><a href="https://www.stackoverflow.com/{{ site.footer-links.youtube }}" class="fa-youtube"><span class="label">youtube</span></a></li>
{% endif %}

{% if site.footer-links.googleplus %}
  <li><a href="https://www.stackoverflow.com/{{ site.footer-links.googleplus }}" class="fa-youtgoogleplusube"><span class="label">googleplus</span></a></li>
{% endif %}